{% extends 'base.html' %}

{% block content %}
<section id="search">
    <div class="row">
        <div class="twelve columns"> 
            <form action="." method="get">
                <fieldset>
                    <div class="tab-whole nine columns">
                        {% for field in form %}
                        {{ field }} 
                        {% endfor %}
                    </div>
                    <div class="tab-whole three columns">
                        <button class="submit full-width">Search</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>  
</section>

{% if query %}
<section id="portfolio">
    <div class="row">
        <div class="twelve columns"> 
            <div class="tab-whole six columns"><h2>Club Name</h2></div>
            <div class="tab-whole three columns"><h2>Genre</h2></div>
            <div class="tab-whole three columns"><h2>Overall rating</h2></div>
            {% for club in page.object_list %}
            <a href="club/{{club.object.id}}">
                <div class="tab-whole six columns"><strong>{{forloop.counter}}. {{club.object.name}}</strong></div>
                <div class="tab-whole three columns">{{ club.object.genre.all }}</div>
                <div class="tab-whole three columns">{{ club.object.overall_rating }}</div>
            </a>
            {% empty %}
                <div class="tab-whole twelve columns">
                    <h3>No results found.</h3>
                </div>
            {% endfor %}
        </div>

        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
    </div>
</section>

{% else %}
<section id="portfolio">
    <div class="row">
        <h5>Search for clubs by name, genre, or abbreviation! Please use whole words only.</h5>
    </div>
</section>
{% endif %}

{% endblock %}