{% extends 'base.html' %}

{% block content %}
<section id="search">
    <div class="row">
        <div class="twelve columns"> 
            <form action="." method="get">
                <fieldset>
                    <div class="tab-whole nine columns">
                        {% for field in form %}
                        {{ field }} 
                        {% endfor %}
                        <!-- <input type="text" placeholder="Search for food" onblur="if(this.value == '') { this.value = 'Search food offers here...'; }" onfocus="if (this.value == 'Search food offers here...') { this.value =   ''; }" class="text-search" kl_virtual_keyboard_secure_input="on"> -->
                    </div>
                    <div class="tab-whole three columns">
                        <button class="submit full-width">Search</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>  
</section>

{% if query %}
<section id="about">
    <div class="row about-content">
        {% for club in page.object_list %}
            <div class="container">           
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Club Name</th>
                    <th>Field</th>
                    <th>Rating</th>
                  </tr>
                </thead>
                
                <tbody>
                {% for club in page.object_list %}
                <a href="club/{{club.object.id}}">
                    <tr>
                    <td>{{club.object.name}}</td>
                    <td>{{ club.object.genre.all }}</td>
                    <td>{{ club.object.overall_rating }}</td>
                    </tr>
                </a>
                {% empty %}
                    <h1>No results found.</h1>    
                {% endfor %}
                </tbody>
              </table>
            </div>
        {% empty %}
            <h1>No results found.</h1>
        {% endfor %}

        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
    </div>
</section>
{% else %}
    <!-- {# Show some example queries to run, maybe query syntax, something else? #} -->
{% endif %}

{% endblock %}