
{% load staticfiles %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<!--- Basic Page Needs ================================================== -->
    <meta charset="utf-8">
    <title>foober | {% block title %}{% endblock %}</title>
    <meta name="description" content="">  
    <meta name="author" content="">

    <!-- Mobile Specific Metas ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS ================================================== -->
    <link rel="stylesheet" href="{% static 'foodoffers/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'foodoffers/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'foodoffers/css/media-queries.css' %}"> 

    <!-- Script =================================================== -->
    <script src="{% static 'foodoffers/js/modernizr.js' %}"></script>

    <!-- Favicon =================================================== -->
    <link rel="shortcut icon" href="{% static 'foodoffers/images/favicon.ico' %}">
</head>
<body>

	<div id="preloader"> 
		<div id="status">
			<img src="{% static 'foodoffers/images/loader.gif' %}" height="60" width="60" alt="">
			<div class="loader">Loading...</div>
		</div>
	</div>

	<!-- Navigation header
	=================================================== -->
	<header id="main-header">

   	<div class="row header-inner">

		<div class="logo">
	        <a href="/">foober.</a>
		</div>

	    <nav id="nav-wrap">         
	         
	        <a class="mobile-btn" href="#nav-wrap" title="Show navigation">
	         	<span class='menu-text'>Show Menu</span>
	         	<span class="menu-icon"></span>
	        </a>
         	<a class="mobile-btn" href="#" title="Hide navigation">
         		<span class='menu-text'>Hide Menu</span>
         		<span class="menu-icon"></span>
         	</a>         

	        <ul id="nav" class="nav">
			    {% block navigation %}
					<li class="current"><a href="/">Home.</a></li>
					<li><a href="/register/">Sign Up.</a></li>             
					<li><a href="/login/">Log In.</a></li>
				{% endblock %}
	        </ul> 

	      	</nav> <!-- /nav-wrap -->	      

	    </div> <!-- /header-inner -->

    </header> 

  <!-- Page Title
  ================================================== -->
  {% block header %}
      <section id="page-title"> 
        
      <div class="row">

        <div class="twelve columns">

          <h1>{% block page_title %}{% endblock %}<span>.</span></h1>

        </div>          

      </div> <!-- /row -->     

      {% block search %}{% endblock %}
      </section> <!-- /page-title -->

  {% endblock %}

	<!-- Content ================================================== -->
  {% block content %}{% endblock %}

	<!-- Footer ================================================== -->
	{% block footer %}
		<footer>
			<div class="row">       
				<div class="six columns tab-whole footer-about">
				    <h3>About foober</h3>
					<p>We want to share our love of food.</p>
				</div> <!-- /footer-about -->

				<div class="six columns tab-whole right-cols">

					<div class="row">

						<div class="columns">
							<h3 class="address">Contact Us</h3>
							<p>
							Harvard University<br>
							Cambridge, MA 02138
							</p>

							<ul>
								<li><a href="tel:6473438234">647.343.8234</a></li>
								<li><a href="tel:1234567890">123.456.7890</a></li>
								<li><a href="mailto:contact@foober.com">contact@foober.com</a></li>
							</ul>                  
						</div> <!-- /columns -->             

						<div class="columns last">
							<h3 class="contact">Follow Us</h3>
							<ul>
								<li><a href="#">Facebook</a></li>
								<li><a href="#">Twitter</a></li>
								<li><a href="#">Instagram</a></li>
							</ul>
					    </div> <!-- /columns --> 
					</div> <!-- /Row(nested) -->
				</div>

				<p class="copyright">&copy; Copyright 2015 Foober. Design by <a href="http://www.styleshout.com/">Styleshout.</a></p>        

				<div id="go-top">
					<a class="smoothscroll" title="Back to Top" href="/#hero"><span>Top</span><i class="fa fa-long-arrow-up"></i></a>
				</div>
			</div> <!-- /row -->
		</footer> <!-- /footer -->
	{% endblock %}
	<!-- This is a copy of the very next js file
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	-->
	<script src="{% static 'foodoffers/js/jquery-1.11.3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'foodoffers/js/jquery-migrate-1.2.1.min.js' %}"></script>
	<script src="{% static 'foodoffers/js/jquery.flexslider.js' %}"></script>
	<script src="{% static 'foodoffers/js/jquery.fittext.js' %}"></script>
	<script src="{% static 'foodoffers/js/backstretch.js' %}"></script> 
	<script src="{% static 'foodoffers/js/waypoints.js' %}"></script>
	<script src="{% static 'foodoffers/js/main.js' %}"></script>

</body>
</html>