{% extends "base_account.html" %}

{% block title %} Thanks! {% endblock title %}

{% block navigation %}
	<li><a href="/">Home.</a></li>
	<li class="current"><a href="/register/">Sign Up.</a></li>             
	<li><a href="/login/">Log In.</a></li>
{% endblock %}

{% block section %}register{% endblock %}

{% block page_title %}Thanks{% endblock %}

{% block rec %} 
  Thanks for registering on our site! Your account will be ready to use as soon as you confirm your account through email.
{% endblock %}

{% block form %}
	<h5><a href="/#hero">Return Home</a></h5>
{% endblock %}