{% load staticfiles %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <!--- Basic Page Needs ================================================== -->
    <meta charset="utf-8">
    <title>CS50 | {% block title %}{% endblock %}</title>
    <meta name="description" content="">  
    <meta name="author" content="">

    <!-- Mobile Specific Metas ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS ================================================== -->
    <link rel="stylesheet" href="{% static 'search/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'search/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'search/css/media-queries.css' %}"> 

    <!-- Script =================================================== -->
    <script src="{% static 'search/js/modernizr.js' %}"></script>
</head>

<body>
	<div id="preloader"> 
		<div id="status">
			<img src="{% static 'search/images/loader.gif' %}" height="60" width="60" alt="">
			<div class="loader">Loading...</div>
		</div>
	</div>

	<!-- Navigation header =================================================== -->
	<header id="main-header">

   	<div class="row header-inner">

	    <nav id="nav-wrap">         
	         
	        <a class="mobile-btn" href="#nav-wrap" title="Show navigation">
	         	<span class='menu-text'>Show Menu</span>
	         	<span class="menu-icon"></span>
	        </a>
         	<a class="mobile-btn" href="#" title="Hide navigation">
         		<span class='menu-text'>Hide Menu</span>
         		<span class="menu-icon"></span>
         	</a>         

	        <ul id="nav" class="nav">
			    {% block navigation %}
			    	<li class="current"><a href="/">YuGuide.</a></li>
				    {% if request.user.is_authenticated %}
				    	<li><a href="/search/">Search</a></li>
						<li><a href="/logout/">Logout</a></li>
					{% else %}
						<li><a href="/register/">Register</a></li>
						<li><a href="/login/">Login</a></li>
					{% endif %}
				{% endblock %}
	        </ul> 

	      	</nav> <!-- /nav-wrap -->	      

	    </div> <!-- /header-inner -->

    </header>

	<!-- Page Title	=================================================== -->
	{% block header %} 
	    <section id="page-title">	
	   	  
			<div class="row">

				<div class="twelve columns">

					<h1>YuGuide<span>.</span></h1>
					
				</div>			    

			</div> <!-- /row -->	   

	   </section> <!-- /page-title -->
	{% endblock %}

	<!-- Page Content =================================================== -->
	{% block content %}{% endblock %}

	<!-- Footer =================================================== -->
	{% block footer %}
		<footer>
			<div class="row">       
				<div class="six columns tab-whole footer-about">
				    <h3>About the YuGuide</h3>
					<p>The YuGuide is a listing of all the clubs at Harvard -- complete with ratings, reviews, and much, much, more. Who needs the Q-guide when we have the YuGuide? </p>
				</div> <!-- /footer-about -->

				<div class="six columns tab-whole right-cols">

					<div class="row">

						<div class="columns">
							<h3 class="address">Contact Us</h3>
							<p>
							Harvard University<br>
							Cambridge, MA 02138
							</p>

							<ul>
								<li><a href="mailto:melissayu@college.harvard.edu">melissayu@college.harvard.edu</a></li>
								<li><a href="mailto:phillipyu@college.harvard.edu">phillipyu@college.harvard.edu</a></li>
							</ul>                  
						</div> <!-- /columns -->             

						<div class="columns last">
							<h3 class="contact">Follow Us</h3>
							<ul>
								<li><a href="#">This will be updated</a></li>
								<li><a href="#">once we are on</a></li>
								<li><a href="#">social media.</a></li>
							</ul>
					    </div> <!-- /columns --> 
					</div> <!-- /Row(nested) -->
				</div>

				<p class="copyright">&copy; Copyright 2015 YuGuide. Design by <a href="http://www.styleshout.com/">Styleshout.</a></p>        

				<div id="go-top">
					<a class="smoothscroll" title="Back to Top" href="/#page-title"><span>Top</span><i class="fa fa-long-arrow-up"></i></a>
				</div>
			</div> <!-- /row -->
		</footer> <!-- /footer -->
	{% endblock %}

	<script src="{% static 'search/js/jquery-1.11.3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'search/js/jquery-migrate-1.2.1.min.js' %}"></script>
	<script src="{% static 'search/js/jquery.flexslider.js' %}"></script>
	<script src="{% static 'search/js/jquery.fittext.js' %}"></script>
	<script src="{% static 'search/js/backstretch.js' %}"></script> 
	<script src="{% static 'search/js/waypoints.js' %}"></script>
	<script src="{% static 'search/js/main.js' %}"></script>
</body>
</html>