{% load staticfiles %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <!--- Basic Page Needs ================================================== -->
    <meta charset="utf-8">
    <title>CS50 | {% block title %}{% endblock %}</title>
    <meta name="description" content="">  
    <meta name="author" content="">

    <!-- Mobile Specific Metas ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS ================================================== -->
    <link rel="stylesheet" href="{% static 'search/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'search/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'search/css/media-queries.css' %}"> 

    <!-- Script =================================================== -->
    <script src="{% static 'search/js/modernizr.js' %}"></script>

    <!-- Favicon =================================================== -->
    <link rel="shortcut icon" href="{% static 'search/images/favicon.ico' %}">
</head>
<body>
	<div id="preloader"> 
		<div id="status">
			<img src="{% static 'search/images/loader.gif' %}" height="60" width="60" alt="">
			<div class="loader">Loading...</div>
		</div>
	</div>

{% block header %} 
	<h1><a href="/">YuGuide</a></h1> 
	{% if request.user.is_authenticated %}
		<br><a href="/logout/">Logout</a><br><br>
	{% else %}
		<br><a href="/register/">Register</a>
		<br><a href="/login/">Login</a><br><br>
	{% endif %}
{% endblock %}

{% block content %}{% endblock %}


{% block footer %}
    <hr>
    <p>THIS IS THE FOOTER: Thanks for visiting this <del> terrible </del> mediocre site brought to you by Melissa and Phillip.</p>
{% endblock %}

	<script src="{% static 'search/js/jquery-1.11.3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'search/js/jquery-migrate-1.2.1.min.js' %}"></script>
	<script src="{% static 'search/js/jquery.flexslider.js' %}"></script>
	<script src="{% static 'search/js/jquery.fittext.js' %}"></script>
	<script src="{% static 'search/js/backstretch.js' %}"></script> 
	<script src="{% static 'search/js/waypoints.js' %}"></script>
	<script src="{% static 'search/js/main.js' %}"></script>
</body>
</html>