<!-- Base template for account-related pages -->
{% extends "base.html" %}

{% block header %}
	<section id="{% block section %}{% endblock %}">
	   	<div class="row section-head">
	   		<div class="twelve columns">
		         <h1>{% block page_title %}{% endblock %}<span>.</span></h1>
		         <hr />
		         <h3>{% block rec %}{% endblock %}</h3>
		      </div>
	      </div>
		<div class="row form-section">
		    <div id="contact-form" class="twelve columns">
		        {% block form %}{% endblock %}
		    </div><!-- /contact-form division-->
		</div>
	</section>
{% endblock %}