{% extends "base.html" %}

{% load staticfiles %}

{% block title %} Home {% endblock %}

{% block content %}

<h1> Q-GUIDE: INDEX PAGE! </h1>

	<br><a href="/register/">Register</a>
	<br><a href="/login/">Login</a>
	<br><a href="/logout/">Logout</a>
	<br><br>


	<form action="/" method="post" enctype="multipart/form-data">
	      {% csrf_token %}
	      {{ form }}
	      <input type="submit" value="Submit" />
	</form>

 {% for match in matches %}

    {{match}}

  {% endfor %}
<br><br><br><br>
Query: {{query}}
<br><br><br><br>
  {% for club in club_list %}

    {% include "short_club.html" %}

  {% endfor %}

{% endblock %}