<!-- Log In page, extends base_account.html -->

{% extends "base_account.html" %}

{% block title %} Log In {% endblock %}

{% block section %}login{% endblock %}

{% block page_title %}Log In{% endblock %}

{% block rec %} 
	Don't have an account yet? Click <a href="/register/">here</a> to register!
{% endblock %}

{% block form %}
	<!-- LogIn Form -->
	<form name="LogIn" id="LogIn" method="post" action="/login/">
	    <fieldset>
	        {% csrf_token %}
	        {% for field in form %}
	        <div class="row">
	            <div class="twelve columns mob-whole">
	                <div class="field {% if field.errors %} field_error {% endif %}">
	                	{{ field }} 
	              	</div>
	            </div>
	        </div>
	        {% endfor %}
	        
	        <div>
	            <button class="submit full-width">Log In</button>
	      	</div>
	    </fieldset>
	</form><!-- LogIn Form -->
{% endblock %}