{% extends "base.html" %}

{% block title %} {{ club.name }} {% endblock %}

{% block content %}
<section id="content">
   	<div class="row section-head">
   		<div class="twelve columns">
	     <h1>{{ club.name }} {{ club.abbreviation }}<span>.</span></h1>
	     <hr>
	 	</div>
	</div>
	<div class="row">
		<div class="twelve columns">
		<h3>{{ club.genre.all }}</h3>
		<h3>Overall Rating: {{ club.overall_rating }}</h3>
		<p>{{ club.description }}</p>
		</div> <!-- /twelve -->
	</div> <!-- /row -->      

	<div class="row section-head">
   		<div class="twelve columns">
	     <h1>Reviews<span>.</span></h1>
	     <hr>
	 	</div>
	</div>

	<div class="row">
		<div id="main">
			<div id="comments">
			<ol class="commentlist">
				{% for review in reviews %}
					{% if review.review != '' %}
					   	<li class="depth-1">
					      <div class="comment-content">
							<div class="comment-info">
								<cite>{{review.reviewer}} says...</cite>
							</div>
							<div class="comment-text">
								<p>{{review.review}}</p>
							</div>
					       </div>
					   	</li>
				   	{% endif %}
				{% endfor %}
			</ol>
			</div>
		</div>
	</div>
	<div class="respond">
       <h3>Leave a Comment</h3>
	<form action="search/club/{{club.id}}" method="post" enctype="multipart/form-data">
	    {% csrf_token %}
	    {{ form }}
	    <input type="submit" value="Submit" />
	</form>
	<br>
</section> <!-- /content --> 
{% endblock %}

