{% extends "base.html" %}

{% block title %} Something appropriate {% endblock %}

{% block content %}

<h1> {{ club.name }}</h1>

<!--This template is the one that should offer the comprehensive description of an offer of food-->

<p> 
Club name: {{ club.name }} ({{ club.abbreviation }}) <br>

Genre: {{ club.genre.all }} <br>

Rating: {{ club.overall_rating }} <br>

Description: {{ club.description }} <br>

</p>

<p>
{% for review in reviews %}
	Reviewer: {{review.reviewer}} <br>
	Review: {{review.review}}<br>
{% endfor %}
</p>

<p>
<form action={{id}} method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
<br>

</p>

{% endblock %}