<!-- Registration page, extends base_account.html -->

{% extends "base_account.html" %}

{% block title %} Register {% endblock %}

{% block section %}register{% endblock %}

{% block page_title %}Register{% endblock %}

{% block rec %} 
  Already have an account? Click <a href="/login/">here</a> to log in!
{% endblock %}

{% block form %}
  <form name="LogIn" id="LogIn" method="post" action="/register/" enctype="multipart/form-data">
    <fieldset>
        {% csrf_token %}
        <!-- form -->
        <div class="row">
        {% for field in form %}
            <div class="six columns mob-whole">
                <div class="field {% if field.errors %} field_error {% endif %}">
                    {{ field }} 
                </div>
            </div>
            {% if forloop.counter|divisibleby:"2" %}</div><div class="row">{% endif %}
        {% endfor %}
        </div>

        <!-- button -->
        <div>
            <button class="submit full-width">Register</button>
        </div>
    </fieldset>
  </form><!-- Register Form -->
{% endblock %}